<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight">Dépourvu de compte ? Pas de panique, créez en-un
      !</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form" (ngSubmit)="register()" class="space-y-6 group" action="#" method="POST" novalidate>
      <div>
        <label for="name" class="block text-sm font-medium leading-6">Nom*
          <div class="mt-2">
            <input formControlName="name"
                   placeholder=" "
                   id="name" name="name"
                   type="text" autocomplete="name"
                   required
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Nom invalide
          </mat-error>
        </label>
      </div>
      <div>
        <label for="surname" class="block text-sm font-medium leading-6">Prénom*
          <div class="mt-2">
            <input formControlName="surname"
                   placeholder=" "
                   id="surname" name="surname"
                   type="text" autocomplete="surname"
                   required
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Prénom invalide
          </mat-error>
        </label>
      </div>

      <div>
        <label for="ville" class="block text-sm font-medium leading-6">Ville*
          <div class="mt-2">
            <input formControlName="ville"
                   placeholder=" "
                   id="ville" name="ville"
                   type="text"
                   autocomplete="ville"
                   required
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Ville non trouvée
          </mat-error>
        </label>
      </div>

      <div>
        <label for="adresse" class="block text-sm font-medium leading-6">Adresse*
          <div class="mt-2">
            <input formControlName="adresse"
                   placeholder=" "
                   id="adresse" name="adresse"
                   type="text"
                   autocomplete="adresse"
                   (input)="getAddresses()"
                   list="adresse_sugg"
                   required
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          <datalist id="adresse_sugg">
            <option *ngFor="let adresse of adresses" [value]="adresse"></option>
          </datalist>
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Adresse non trouvée
          </mat-error>
        </label>
      </div>

      <div>
        <label for="cp" class="block text-sm font-medium leading-6">Code postal
          <div class="mt-2">
            <input formControlName="codePostal"
                   placeholder=" "
                   id="cp" name="cp"
                   type="number"
                   autocomplete="cp"
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Adresse non trouvée
          </mat-error>
        </label>
      </div>

      <div>
        <label for="email" class="block text-sm font-medium leading-6">Email*
          <div class="mt-2">
            <input formControlName="email"
                   placeholder=" "
                   id="email" name="email"
                   type="email"
                   autocomplete="email"
                   pattern="[0-9]{5}"
                   required
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Code postal invalide
          </mat-error>
        </label>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium leading-6">Mot de passe*
          <div class="mt-2">
            <input id="password"
                   name="password"
                   type="password"
                   autocomplete="current-password"
                   required
                   placeholder=" "
                   pattern=".{7,}"
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Le mot de passe doit être d'au moins 7 caractères
          </mat-error>
        </label>
      </div>

      <div>
        <label for="passwordverif" class="block text-sm font-medium leading-6">Confirmation du mot de passe*
          <div class="mt-2">
            <input id="passwordverif"
                   formControlName="passwordverif"
                   name="passwordverif"
                   type="password"
                   autocomplete="current-password"
                   required
                   placeholder=" "
                   pattern=".{7,}"
                   class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          </div>
          <mat-error
            class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            Les mots de passes ne correspondent pas
          </mat-error>
        </label>
      </div>

      <div>
        <button type="submit"
                class="btn btn-primary w-full group-invalid:pointer-events-none group-invalid:opacity-30">
          @if (loading) {
          <span class="loading loading-spinner mr-2"></span>
          }
          Inscription
        </button>
      </div>
      @if (error) {
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">Aie !</strong>
        <span class="block sm:inline ml-2">L'inscription a échouée . . . Réssayez</span>
      </div>
      }
      <div class="text-xs">
        * Champs obligatoires
      </div>
    </form>
    <div class="mt-10 text-center font-bold leading-9 tracking-tight">Déjà un compte ? <a [routerLink]="['/login']"
                                                                                          class="text-primary cursor-pointer">Connectez-vous</a>
    </div>
  </div>
</div>
