<h1 class="font-bold text-center text-5xl">La liste des clients</h1>
<div class="flex w-full p-7">
  <button class="btn btn-primary grid h-20 flex-grow card rounded-box place-items-center" (click)="clients(1)">Tri par Nom</button>
  <div class="divider divider-horizontal"></div>
  <button class="btn btn-primary grid h-20 flex-grow card rounded-box place-items-center" (click)="clients(2)">Tri par ville</button>
</div>
<ul role="list" class="divide-y divide-gray-100 p-8">
  @for(client of clients$ | async; track client.id){
    <li class="flex justify-between gap-x-6 py-5">
      <div class="flex min-w-0 gap-x-4">
        <img class="h-12 w-12 flex-none rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <a routerLink="/clients/{{client.id}}">
        <div class="min-w-0 flex-auto">
          <p class="text-sm font-semibold leading-6 text-gray-900">{{client.nom}}</p>
          <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{client.ville}} {{client.adresse}} {{client.code_postal}}</p>
        </div>
        </a>
      </div>
    </li>
  }
</ul>

<!--          <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{client.user.email}}</p>-->
