
<div class="2xl:container 2xl:mx-auto lg:py-16 lg:px-20 md:py-12 md:px-6 py-9 px-4">
  <div class="flex flex-col lg:flex-row justify-between gap-8">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1 class="text-3xl lg:text-4xl font-bold leading-9 pb-4">À propos</h1>
      <p class="font-normal text-base leading-6">Rythmopolis, créé en 2010, est un festival de musique qui célèbre la diversité musicale. Rassemblant des artistes émergents et établis de tous genres, il offre une expérience immersive dans le monde éphémère de la musique. Rythmopolis est devenu un incontournable dans le paysage des festivals, attirant des milliers de passionnés chaque année pour célébrer la musique, l'art et la culture.</p>
    </div>
    <div class="w-full lg:w-8/12">
      <img style="width: 75%; height: 75%; border-radius: 10px;" src="assets/accueil_fest%20.jpg" alt="festival" />
    </div>
  </div>

  <div class="flex lg:flex-row flex-col justify-between gap-8 pt-12">
    <div class="w-full lg:w-5/12 flex flex-col justify-center">
      <h1 class="text-3xl lg:text-4xl font-bold leading-9 pb-4">Notre Histoire</h1>
      <p class="font-normal text-base leading-6">Dans notre appartement, nous avons ont eu cette idée : créer un festival célébrant la musique sous toutes ses formes. Après des mois de travail acharné, le premier festival Rythmopolis a vu le jour, attirant une foule passionnée. Depuis, c'est devenu un rendez-vous incontournable, mais pour nous, le vrai succès, c'est la communauté que nous avons construite.</p>
    </div>
    <div class="w-full lg:w-8/12 lg:pt-8">
      <div class="grid md:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:gap-4 shadow-lg rounded-md">
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img class="md:block hidden" style="border-radius: 10px" src="assets/just.jpeg" alt="Just" />
          <img class="md:hidden block" style="border-radius: 10px" src="assets/just.jpeg" alt="Just" />
          <p class="font-medium text-xl leading-5 mt-4">Just</p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img class="md:block hidden" style="border-radius: 10px" src="assets/anthony.jpeg" alt="Antho" />
          <img class="md:hidden block" style="border-radius: 10px" src="assets/anthony.jpeg" alt="Antho" />
          <p class="font-medium text-xl leading-5 mt-4">Anthony</p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img class="md:block hidden" style="border-radius: 10px" src="assets/damien.jpeg" alt="Damien" />
          <img class="md:hidden block" style="border-radius: 10px" src="assets/damien.jpeg" alt="Damien" />
          <p class="font-medium text-xl leading- mt-4">Damien</p>
        </div>
        <div class="p-4 pb-6 flex justify-center flex-col items-center">
          <img class="md:block hidden" style="border-radius: 10px" src="assets/maori.jpeg" alt="Maori" />
          <img class="md:hidden block" style="border-radius: 10px" src="assets/maori.jpeg" alt="Maori" />
          <p class="font-medium text-xl leading-5 mt-4">Maori</p>
        </div>
      </div>
    </div>
  </div>
</div>

