<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight">Déjà enregistré ? Connectez-vous</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form [formGroup]="form"  (ngSubmit)="login()" class="space-y-6 group" action="#" method="POST" novalidate>
      <div>
        <label for="email" class="block text-sm font-medium leading-6">Adresse Mail*
        <div class="mt-2">
          <input formControlName="email"
                 placeholder=" "
                 id="email"
                 name="email"
                 type="email"
                 autocomplete="email"
                 required
                 class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
          <mat-error class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
            E-mail invalide
          </mat-error>
        </div>
        </label>
      </div>
      <div>
          <label for="password" class="block text-sm font-medium leading-6">Mot de Passe*
            <div class="mt-2">
              <input id="password"
                     formControlName="password"
                     name="password"
                     type="password"
                     pattern=".{7,}"
                     placeholder=" "
                     autocomplete="current-password"
                     required
                     class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 peer">
            </div>
            <mat-error class="mt-2 hidden text-sm text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
              Un mot de passe de plus de 7 caractères est requis
            </mat-error>
          </label>
      </div>

      <div>
        <button type="submit" class="btn btn-primary w-full group-invalid:pointer-events-none group-invalid:opacity-30">
          @if (loading) {
              <span class="loading loading-spinner mr-2"></span>
          }
          Connexion
        </button>
      </div>
      <div>
          @if (error) {
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Aie !</strong>
              <span class="block sm:inline ml-2">La connexion a échoué . . . Réessayez</span>
            </div>
          }
      </div>
      <div class="text-xs">
        * Champs obligatoires
      </div>
    </form>
    <div class="mt-10 text-center font-bold leading-9 tracking-tight">Pas de compte ? <a [routerLink]="['/register']" class="text-primary cursor-pointer">Inscrivez-vous</a></div>
  </div>

</div>
